<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760335697126-mp1ht118s2vigmp3l4oe624hnhifd53n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760335697126-mp1ht118s2vigmp3l4oe624hnhifd53n</string>
	<key>API_KEY</key>
	<string>AIzaSyDKhheuoS5_gDkRmMa24b5l7F_Q-cVGCNY</string>
	<key>GCM_SENDER_ID</key>
	<string>760335697126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chaatappOr</string>
	<key>PROJECT_ID</key>
	<string>caht-app-9ecef</string>
	<key>STORAGE_BUCKET</key>
	<string>caht-app-9ecef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760335697126:ios:7cc1a2cc7666d65b8be727</string>
</dict>
</plist>